/* lightGallery v2.x - Andrew Zuckerman Custom Implementation */
/* Exact copy from /tmp/portfolio-website/src/style/_lightgallery.scss */

@font-face {
  font-family: 'lg';
  src: url("static/fonts/lg.woff2?io9a6k") format("woff2"), url("static/fonts/lg.ttf?io9a6k") format("truetype"), url("static/fonts/lg.woff?io9a6k") format("woff"), url("static/fonts/lg.svg?io9a6k#lg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.lg-icon {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lg-container {
  font-family: 'Swiss 721', system-ui, -apple-system, sans-serif;
}

.lg-next,
.lg-prev {
  cursor: pointer;
  display: block;
  font-size: 22px;
  padding: 0;
  position: absolute;
  top: 50%;
  z-index: 1084;
  outline: none;
  border: none;
  transform: translateY(-50%);
  background: none !important;
}

.lg-next.disabled,
.lg-prev.disabled {
  opacity: 0 !important;
  cursor: default;
}

.lg-next:hover:not(.disabled),
.lg-prev:hover:not(.disabled) {
  opacity: .5;
}

.lg-single-item .lg-next, .lg-single-item
.lg-prev {
  display: none;
}

.lg-next {
  right: 40px;
}

.lg-next:before {
  content: '►';
}

.lg-prev {
  left: 40px;
}

.lg-prev:after {
  content: '◄';
}

/* Animation keyframes */
@-webkit-keyframes lg-right-end {
  0% { left: 0; }
  50% { left: -30px; }
  100% { left: 0; }
}

@keyframes lg-right-end {
  0% { left: 0; }
  50% { left: -30px; }
  100% { left: 0; }
}

@-webkit-keyframes lg-left-end {
  0% { left: 0; }
  50% { left: 30px; }
  100% { left: 0; }
}

@keyframes lg-left-end {
  0% { left: 0; }
  50% { left: 30px; }
  100% { left: 0; }
}

.lg-outer.lg-right-end .lg-object {
  -webkit-animation: lg-right-end 0.3s;
  animation: lg-right-end 0.3s;
  position: relative;
}

.lg-outer.lg-left-end .lg-object {
  -webkit-animation: lg-left-end 0.3s;
  animation: lg-left-end 0.3s;
  position: relative;
}

/* Zoom animation - KEY FEATURE */
body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item:not(.lg-zoomable) .lg-img-wrap,
body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item:not(.lg-zoomable) .lg-video-cont {
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  will-change: transform, opacity;
  -webkit-transition: transform 250ms cubic-bezier(0, 0, 0.25, 1), opacity 250ms cubic-bezier(0, 0, 0.25, 1) !important;
  transition: transform 250ms cubic-bezier(0, 0, 0.25, 1), opacity 250ms cubic-bezier(0, 0, 0.25, 1) !important;
}

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item:not(.lg-zoomable).lg-complete .lg-img-wrap,
body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item:not(.lg-zoomable).lg-complete .lg-video-cont {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

/* Fade transition - KEY FEATURE */
.lg-css3.lg-fade .lg-item {
  opacity: 0;
}

.lg-css3.lg-fade .lg-item.lg-current {
  opacity: 1;
}

.lg-css3.lg-fade .lg-item.lg-prev-slide, 
.lg-css3.lg-fade .lg-item.lg-next-slide, 
.lg-css3.lg-fade .lg-item.lg-current {
  -webkit-transition: opacity 0.1s ease 0s;
  transition: opacity 0.1s ease 0s;
}

/* White backdrop - CUSTOM */
.lg-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: white;
  opacity: 0;
  will-change: auto;
  -webkit-transition: opacity 333ms ease-in 0s;
  transition: opacity 333ms ease-in 0s;
}

.lg-backdrop.in {
  opacity: 1;
}

/* Black controls - CUSTOM */
.lg-next, .lg-prev {
  color: black !important;
}

/* Metadata styling - CUSTOM */
.lg-counter {
  color: black;
  display: inline-block;
  font-size: 16px;
  padding-left: 40px;
  padding-bottom: 40px;
  height: 47px;
  vertical-align: middle;
  font-weight: 500;
  letter-spacing: .1em;
}

.lg-sub-html {
  color: black;
  font-size: 13px !important;
  line-height: 1.4em;
  position: absolute;
  left: 0;
  bottom: 17px;
  text-align: left;
  padding: 10px 40px;
  z-index: 1080;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out 0s;
  transition: opacity 0.2s ease-out 0s;
}

/* Hide download/close buttons - CUSTOM */
.lg-download, .lg-close {
  display: none;
}

/* Counter hidden - CUSTOM */
.lg-counter {
  display: none;
}

/* Mobile scaling - CUSTOM */
@media (max-width: 680px) {
  .lg-outer .lg-object {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    height: unset;
    position: relative;
    transform: scale(1.4);
  }
}

/* Loading state */
.lg-outer .lg-item:not(.lg-start-end-progress) {
  background: url("/loading.svg") no-repeat scroll center center transparent;
  background-size: 40px 40px;
}

.lg-outer .lg-item.lg-complete {
  background-image: none;
}

/* Core lightGallery styles */
.lg-container {
  display: none;
  outline: none;
}

.lg-container.lg-show {
  display: block;
}

.lg-outer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  text-align: left;
  opacity: 0.001;
  outline: none;
  will-change: auto;
  overflow: hidden;
  -webkit-transition: opacity 0.15s ease 0s;
  transition: opacity 0.15s ease 0s;
}

.lg-outer.lg-visible {
  opacity: 1;
}

.lg-outer .lg-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.lg-outer .lg-inner {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
  white-space: nowrap;
}

.lg-outer .lg-item {
  display: none !important;
}

.lg-outer.lg-css3 .lg-prev-slide,
.lg-outer.lg-css3 .lg-current,
.lg-outer.lg-css3 .lg-next-slide {
  display: inline-block !important;
}

.lg-outer .lg-item,
.lg-outer .lg-img-wrap {
  display: inline-block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-top:40px;
}

.lg-outer .lg-item:before,
.lg-outer .lg-img-wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.lg-outer .lg-img-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  white-space: nowrap;
  font-size: 0;
}

.lg-outer .lg-item.lg-current {
  z-index: 1060;
}

.lg-outer .lg-object {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: relative;
}

.lg-toolbar,
.lg-prev,
.lg-next,
.lg-pager-outer,
.lg-hide-sub-html .lg-sub-html {
  opacity: 0;
  will-change: transform, opacity;
  -webkit-transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
}

.lg-show-in .lg-toolbar,
.lg-show-in .lg-prev,
.lg-show-in .lg-next,
.lg-show-in .lg-pager-outer {
  opacity: 1;
}

.lg-show-in.lg-hide-sub-html .lg-sub-html {
  opacity: 1;
}

.lg-closing .lg-toolbar,
.lg-closing .lg-prev,
.lg-closing .lg-next,
.lg-closing .lg-sub-html {
  opacity: 0;
  -webkit-transition: transform 0.08s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.08s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 0.08s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.08s cubic-bezier(0, 0, 0.25, 1) 0s;
}

.lg-outer.lg-components-open:not(.lg-zoomed) .lg-components {
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0);
  opacity: 1;
}

.lg-outer.lg-components-open:not(.lg-zoomed) .lg-sub-html {
  opacity: 1;
  transition: opacity 0.2s ease-out 0.15s;
}

.lg-components {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  will-change: transform;
  -webkit-transition: transform 0.35s ease-out 0s;
  transition: transform 0.35s ease-out 0s;
  z-index: 1080;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.lg-outer * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Video support */
.lg-outer .lg-video-cont {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.lg-outer .lg-video-cont .lg-object {
  width: 100% !important;
  height: 100% !important;
}

.lg-outer .lg-has-video .lg-video-object {
  opacity: 0;
  will-change: opacity;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.lg-outer .lg-has-video.lg-video-loaded .lg-video-object {
  opacity: 1;
}

/* Accessibility */
.lg-icon:focus-visible {
  color: #fff;
  border-radius: 3px;
  outline: 1px dashed rgba(255, 255, 255, 0.6);
}

.lg-overlay-open {
  overflow: hidden;
}

.lg-on {
  scroll-behavior: unset;
}

/* Custom Close Button - Andrew Zuckerman Style */
.btn-close {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  height: 35px;
  line-height: 33px;
  position: fixed;
  top: 10px;
  right: 30px;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  z-index: 1060;
  transition: opacity .1s ease;
  border: none;
  background: none;
  color: black !important;
}

.btn-close.active {
  opacity: 1;
  transition: opacity .2s .8s ease;
  pointer-events: all;
}

@media (max-width: 680px) {
  .btn-close {
    right: 15px;
    font-size: 16px;
  }
}

/* Custom Scrollbar for About Page - Andrew Zuckerman Style */
.about-text-scroll::-webkit-scrollbar {
  width: 2px;
  background-color: #fff;
}

.about-text-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #e9e9e9;
  cursor: grab;
}

.about-text-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

.about-text-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #fff;
}
